<div class="containerMain">
    <ul class="mainTabs">
        <li>
            <img src="earn.png" alt="">
            <span>Earn</span>
        </li>
        <li>
            <img src="rewards.png" alt="">
            <span>Rewards</span>
        </li>
        <li>
            <img src="Top.png" alt="">
            <span>Top</span>
        </li>
        <li>
            <img src="Share.png" alt="">
            <span>Share</span>
        </li>
        <li>
            <img src="Profile.png" alt="">
            <span>Profile</span>
        </li>
    </ul>
</div>
