.containerMain {
  display: flex;
  width: 100vw;
  flex-direction: column;
  min-height: 100svh;
  /* gap: 10px; */
  justify-content: center;
  align-items: center;
}

.clientTab,
.earnTab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.profileTab{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #09232c7d;
  padding: 5vw 10vw;
  width: 50vw;
  border-radius: 16px;
  min-height: 7svh;
}
.clientTab {
  min-height: 25svh;
  flex-direction: column;
  background-color: rgba(28, 87, 105, 0.459);
  gap: 10px;
}

.earnTab {
  flex-direction: column;
  gap: 20px;
  flex: 1;
  background-color: rgba(28, 87, 105, 0.459);
}


.BigCat{
  all: unset;
  width: fit-content;
}
.Score{
  display: flex;
  gap: 10px;
  background: #08232D;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  width: 40vw;
  background-color: #09232c7d;
  padding: 5vw 10vw;
}

